Repository antfu/vitesse-nuxt: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix

feat: add SASS
  .stylelintrc.js
  components/Counter.vue
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix

chore: add VSCode settings
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: none

feat: add Element Plus
  README.md
  app.vue
  nuxt.config.ts
  package.json
  pages/404.vue
  pnpm-lock.yaml
  styles/element-plus/index.scss
  styles/index.scss
  types/auto-imports.d.ts
Due: eslint --cache --fix, stylelint --fix

feat: add nuxt-lodash module
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix

chore: update package.json
  package.json
Due: none

chore: ignore "generated" for ESLint
  .eslintignore
  package.json
Due: none

feat: add "@intlify/nuxt3" for i18n and GraphQL API with Apollo
  .gitignore
  README.md
  app.vue
  assets/images/nuxt.png
  codegen.yml
  components/Footer.vue
  components/Home.vue
  components/InputEntry.vue
  components/PageView.vue
  composables/locale.ts
  generated/__routes.ts
  generated/__useTypedRouter.ts
  generated/graphql/operations.ts
  generated/graphql/schema.d.ts
  generated/typed-router.d.ts
  graphql/country.query.graphql
  graphql/hello.query.graphql
  locales/en.json
  locales/index.ts
  locales/zh-CN.json
  nuxt.config.ts
  package.json
  pages/hi/[id].vue
  pages/index.vue
  pages/restful/page-view.vue
  plugins/__typed-router.ts
  pnpm-lock.yaml
  public/favicon.ico
  sandbox.config.json
  server/api/graphql/index.ts
  server/api/graphql/playground.ts
  server/graphql/apollo-server.ts
  server/graphql/hello/resolver.ts
  server/graphql/hello/schema.ts
  server/graphql/index.ts
  serverless.yml
  stores/user.ts
  tsconfig.json
  types/auto-imports.d.ts
Due: eslint --cache --fix, stylelint --fix

chore: update deps, close #44
  .eslintignore
  app.vue
  html.d.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix

chore: upgrade deps
  package.json
  pnpm-lock.yaml
  types/auto-imports.d.ts
Due: eslint --cache --fix

feat: switch GraphQL client from "@vue/apollo-composable" to "@urql/vue"
  .eslintignore
  README.md
  codegen.yml
  components/Home.vue
  generated/graphql/operations.ts
  graphql/country.query.graphql
  graphql/generated/hello.query.ts
  graphql/generated/introspection.ts
  graphql/generated/types.d.ts
  graphql/generated/types.ts
  graphql/hello.query.graphql
  nuxt.config.ts
  package.json
  plugins/urql.ts
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --cache --fix, stylelint --fix

feat: generate TypedDocumentNode with "@graphql-codegen/typed-document-node"
  codegen.yml
  graphql/generated/hello.query.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix

chore: improve project setup
  README.md
  components/Footer.vue
  composables/locale.ts
  generated/auto-imports.d.ts
  generated/typed-router/__routes.ts
  generated/typed-router/__useTypedRouter.ts
  generated/typed-router/index.ts
  generated/typed-router/typed-router.d.ts
  locales/en.json
  locales/en.ts
  locales/index.ts
  locales/zh-CN.json
  locales/zh-CN.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  public/favicon.ico
  types/html.d.ts
Due: eslint --cache --fix, stylelint --fix

fix: pin "element-plus@2.2.2" for now to workaround dayjs plugin importing issue
  package.json
  pnpm-lock.yaml
Due: none

style: fix ESLint issues
  components/InputEntry.vue
  nuxt.config.ts
  types/html.d.ts
Due: eslint --cache --fix, stylelint --fix

style: nuxt.config.ts
  nuxt.config.ts
Due: eslint --cache --fix

feat: improve GraphQL pipeline: auto-generated queries using "gql-generator"
  codegen.yml
  components/Home.vue
  components/PageView.vue
  graphql/generated/hello.query.ts
  graphql/generated/index.ts
  graphql/generated/introspection.ts
  graphql/generated/ops/index.js
  graphql/generated/ops/queries/index.js
  graphql/generated/ops/queries/person.gql
  graphql/generated/ops/queries/person.ts
  graphql/generated/schema.gql
  graphql/generated/types.d.ts
  graphql/generated/types.ts
  graphql/hello.query.graphql
  nuxt.config.ts
  package.json
  pages/restful/page-view.vue
  pnpm-lock.yaml
  server/api/graphql/index.ts
Due: eslint --cache --fix, stylelint --fix

fix: configs
  nuxt.config.ts
  package.json
Due: eslint --cache --fix

refactor: GraphQL server initialization
  server/api/graphql/index.ts
  server/graphql/apollo-server.ts
  server/graphql/index.ts
Due: eslint --cache --fix

fix: move away from "@intlify/nuxt3" for now due to bug
  app.vue
  components/Footer.vue
  components/Home.vue
  composables/locale.ts
  nuxt.config.ts
  package.json
  plugins/i18n.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix

feat: auto-import Element Plus styles with "unplugin-elmenet-plus"
  components/Footer.vue
  nuxt.config.ts
  package.json
  pages/404.vue
  pnpm-lock.yaml
  styles/element-plus/index.scss
Due: eslint --cache --fix, stylelint --fix

chore: VSCode i18n-ally settings
  .vscode/settings.json
Due: none

fix: Element Plus w/ SSR issue
  app.vue
Due: eslint --cache --fix, stylelint --fix

chore: revert typo
  components/Home.vue
Due: eslint --cache --fix, stylelint --fix

chore: upgrade deps
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: none

chore: upgrade deps
  package.json
  pnpm-lock.yaml
Due: none

chore: move "codegen.yml" into "graphql/"
  graphql/codegen.yml
Due: none

refactor: replace "localhost" with "127.0.0.1" because Node.js 17 resolve "localhost" to IPv6 "::1"
  README.md
  plugins/urql.ts
Due: eslint --cache --fix

refactor: Element Plus fix from upstream template
  README.md
  app.vue
Due: eslint --cache --fix, stylelint --fix

feat: auto-import Element Plus components
  components/Footer.vue
  generated/vue-components.d.ts
  nuxt.config.ts
  package.json
  pages/404.vue
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix

chore: upgrade deps
  composables/locale.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix

chore: update deps
  .npmrc
  package.json
  pnpm-lock.yaml
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
Due: none

feat: prepare nuxt on postinstall, close #51
  package.json
Due: none

chore: update lock
  package.json
  pnpm-lock.yaml
Due: none

fix: netlify workaround
  nuxt.config.ts
Due: eslint --cache --fix

chore:layout typo
  app.vue
Due: eslint --cache --fix, stylelint --fix

chore:layout typo (#55)
  app.vue
Due: eslint --cache --fix, stylelint --fix

Path conditions:
  eslint --cache --fix: any of: **/*.{js,ts,tsx,vue}
  stylelint --fix: any of: **/*.{css,scss,vue,tsx}
