Repository antfu/vitesse-nuxt: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx,vue}": "eslint --cache --fix",
  "**/*.{css,scss,vue,tsx}": "stylelint --fix"
}

setup: commitizen config
  package.json
Due: none

setup: update backend API proxy
  nuxt.config.ts
Due: eslint --cache --fix

ci: add Drone config
  .drone.star
Due: none

setup: update lefthook.yml
  lefthook.yml
Due: none

feat: add runtimeConfig example
  components/PageView.vue
  nuxt.config.ts
Due: eslint --cache --fix, stylelint --fix

k8s: add example Pulumi project to deploy to K8s
  k8s/.eslintrc.js
  k8s/.gitignore
  k8s/Pulumi.dev.yaml
  k8s/Pulumi.yaml
  k8s/lefthook.yml
  k8s/package.json
  k8s/rolebinding-drone-edit.yml
  k8s/src/app.ts
  k8s/src/common.ts
  k8s/src/index.ts
  k8s/src/resource.ts
  k8s/src/util.ts
  k8s/tsconfig.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --cache --fix

setup: .eslintignore k8s
  .eslintignore
Due: none

chore: delete GraphQL related config in nuxt.config.ts
  README.md
  nuxt.config.ts
Due: eslint --cache --fix

chore: delete unused dep: reflect-metadata
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix

setup: update nuxt.config.ts
  nuxt.config.ts
  package.json
Due: eslint --cache --fix

chore: update deps
  app.vue
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix

chore: update deps (#74)
  app.vue
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix

chore: upgrade deps
  components/InputEntry.vue
  generated/typed-router/__routes.ts
  generated/typed-router/__useTypedRouter.ts
  generated/typed-router/index.ts
  generated/typed-router/typed-router.d.ts
  nuxt.config.ts
  package.json
  pages/hi/[id].vue
  plugins/__typed-router.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix

feat: change nuxt.config
  generated/vue-components.d.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix

feat: delete ID_INJECTION_KEY from app.vue
  app.vue
Due: eslint --cache --fix, stylelint --fix

refactor: use navigateTo instead of useRouter().push
  components/InputEntry.vue
Due: eslint --cache --fix, stylelint --fix

chore: remove unused config in nuxt.config.ts
  nuxt.config.ts
Due: eslint --cache --fix

refactor: useRoute
  pages/hi/[id].vue
Due: eslint --cache --fix, stylelint --fix

setup: remove unplugin-vue-components
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix

chore: remove unused generated types
  generated/vue-components.d.ts
Due: eslint --cache --fix

feat: PWA using `@vite-pwa/nuxt` module with auto update strategy
  .gitignore
  .npmrc
  README.md
  app.vue
  components/DarkToggle.vue
  components/Logos.vue
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  public/apple-touch-icon.png
  public/favicon.ico
  public/maskable-icon.png
  public/nuxt.png
  public/nuxt.svg
  public/pwa-192x192.png
  public/pwa-512x512.png
  public/robots.txt
  public/vite.png
Due: eslint --cache --fix, stylelint --fix

chore: add hint for payload extraction disabled
  nuxt.config.ts
Due: eslint --cache --fix

chore: update nuxt pwa and cleanup skip and waiting pwa flags
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix

chore: move web manifest out of layout
  app.vue
Due: eslint --cache --fix, stylelint --fix

chore: extract pwa configuration and add constants module
  app.vue
  config/pwa.ts
  constants/index.ts
  nuxt.config.ts
Due: eslint --cache --fix, stylelint --fix

docs: add license and funding
  .github/FUNDING.yml
  LICENSE
  README.md
Due: none

Revert "docs: add license and funding"
  .github/FUNDING.yml
  LICENSE
  README.md
Due: none

chore: change year in LICENSE
  LICENSE
Due: none

chore: add present in LICENSE
  LICENSE
Due: none

feat: Improved pages module configuration
  nuxt.config.ts
Due: eslint --cache --fix

docs: add license and funding (#76)
  .github/FUNDING.yml
  LICENSE
  README.md
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
Due: none

chore: remove attributify workaround
  html.d.ts
Due: eslint --cache --fix

chore: remove attributify workaround (#78)
  html.d.ts
Due: eslint --cache --fix

feat: PWA using `@vite-pwa/nuxt` module with auto update strategy (#75)
  .gitignore
  .npmrc
  README.md
  app.vue
  components/DarkToggle.vue
  components/Logos.vue
  config/pwa.ts
  constants/index.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  public/apple-touch-icon.png
  public/favicon.ico
  public/maskable-icon.png
  public/nuxt.png
  public/nuxt.svg
  public/pwa-192x192.png
  public/pwa-512x512.png
  public/robots.txt
  public/vite.png
Due: eslint --cache --fix, stylelint --fix

feat: include offline support
  .gitignore
  package.json
  pages/index.vue
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix

chore: include offline support (#79)
  .gitignore
  package.json
  pages/index.vue
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix

feat: remove spa from netlify
  config/pwa.ts
  netlify.toml
  nuxt.config.ts
  pages/hi/[id].vue
  pages/index.vue
Due: eslint --cache --fix, stylelint --fix

fix: sw.js served as html
  error.vue
  nuxt.config.ts
Due: eslint --cache --fix, stylelint --fix
