Repository antfu/vitesse-nuxt: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix

chore: update deps
  package.json
  pnpm-lock.yaml
Due: none

chores: add generate scripts
  package.json
Due: none

chores: add generate scripts (#59)
  package.json
Due: none

chore: upgrade deps
  generated/auto-imports.d.ts
  generated/typed-router/typed-router.d.ts
  generated/vue-components.d.ts
  graphql/generated/ops/queries/person.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  server/graphql/hello/schema.ts
Due: eslint --cache --fix

chore: nuxt.config.ts
  nuxt.config.ts
Due: eslint --cache --fix

chore: update deps
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix

refactor: `defineNuxtConfig` is auto imported
  nuxt.config.ts
Due: eslint --cache --fix

refactor: `defineNuxtConfig` is auto imported (#62)
  nuxt.config.ts
Due: eslint --cache --fix

chore: upgrade deps
  .eslintrc.js
  composables/locale.ts
  generated/auto-imports.d.ts
  package.json
  pnpm-lock.yaml
  server/graphql/apollo-server.ts
Due: eslint --cache --fix

feat: add "app.config.ts"
  app.config.ts
  components/Logos.vue
Due: eslint --cache --fix, stylelint --fix

feat: add RxJS
  README.md
  components/Counter.vue
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix

chore: update nuxt.config.ts
  generated/vue-components.d.ts
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix

fix: upgrade to rc12 and fix UnoCSS FOUC
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix

fix: data.preview, data.value Object is possibly 'null', add unocss.root in vscode settings
  .vscode/settings.json
  components/PageView.vue
Due: eslint --cache --fix, stylelint --fix

chore: update
  .vscode/settings.json
  components/PageView.vue
Due: eslint --cache --fix, stylelint --fix

fix: data.preview, data.value Object is possibly 'null'. (#63)
  components/PageView.vue
Due: eslint --cache --fix, stylelint --fix

Update README.md
  README.md
Due: none

fix: toggleDark not works
  components/DarkToggle.vue
Due: eslint --cache --fix, stylelint --fix

fix: toggleDark not works (#66)
  components/DarkToggle.vue
Due: eslint --cache --fix, stylelint --fix

Rename 404.vue to [...all].vue
  pages/[...all].vue
Due: eslint --cache --fix, stylelint --fix

fix: rename 404.vue to [...all].vue (#67)
  pages/[...all].vue
Due: eslint --cache --fix, stylelint --fix

feat: reduced condition judgment
  composables/user.ts
Due: eslint --cache --fix

fix: color.preference by @nuxtjs/color-mode@3.2.0
  components/DarkToggle.vue
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix

fix: color.preference by @nuxtjs/color-mode@3.2.0 (#69)
  components/DarkToggle.vue
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix

chore: remove pnpm workaround for netlify
  netlify.toml
Due: none

add styles reset as an option unocss
  nuxt.config.ts
Due: eslint --cache --fix

chore: update nuxt3 link url
  README.md
  layouts/README.md
Due: none

chore: remove pnpm workaround for netlify (#70)
  netlify.toml
Due: none

chore: update nuxt3 link url (#72)
  README.md
  layouts/README.md
Due: none

setup: switch from Husky + lint-staged to Lefthook
  .husky/pre-commit
  .lintstagedrc.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

setup: add commitlint and commitizen
  .commitlintrc.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix

chore: upgrade deps
  generated/typed-router/typed-router.d.ts
  package.json
  plugins/__typed-router.ts
  pnpm-lock.yaml
Due: eslint --cache --fix

chore: remove unused dep
  package.json
  pnpm-lock.yaml
Due: none

chore: upgrade to vue-tsc@1.0.16
  package.json
  pnpm-lock.yaml
Due: none

chore: upgrade @vueuse/nuxt
  components/PageView.vue
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix

docker: add Dockerfile for CI pipeline
  .eslintignore
  docker/Dockerfile.prebuilt
  nuxt.config.ts
Due: eslint --cache --fix

Path conditions:
  eslint --cache --fix: any of: **/*.{js,ts,tsx,vue}
  stylelint --fix: any of: **/*.{css,scss,vue,tsx}
