Repository antfu/vitesse-nuxt: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix

fix: lint
  pages/[...all].vue
Due: eslint --cache --fix, stylelint --fix

chore: update deps
  package.json
  pnpm-lock.yaml
Due: none

chore: update lock
  pnpm-lock.yaml
Due: none

chore: fix blocked `Running postinstall script...`
  package.json
Due: none

chore: update lockfile
  pnpm-lock.yaml
Due: none

chore: update deps
  README.md
  package.json
  pnpm-lock.yaml
Due: none

chore: update
  package.json
  pnpm-lock.yaml
Due: none

chore: upgrade deps
  package.json
  pnpm-lock.yaml
Due: none

chore: upgrade deps
  components/InputEntry.vue
  components/Logos.vue
  composables/count.ts
  composables/locale.ts
  composables/user.ts
  layouts/home.vue
  nuxt.config.ts
  package.json
  pages/[...all].vue
  pages/hi/[id].vue
  pages/index.vue
  plugins/i18n.ts
  pnpm-lock.yaml
  stores/user.ts
Due: eslint --cache --fix, stylelint --fix

chore: upgrade deps
  .eslintignore
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: none

feat: switch to official @nuxtjs/i18n
  .eslintignore
  .eslintrc
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  app.vue
  components/Footer.vue
  components/InputEntry.vue
  components/PageView.vue
  composables/locale.ts
  i18n.config.ts
  locales/en.ts
  locales/zh-CN.ts
  nuxt.config.ts
  package.json
  pages/hi/[id].vue
  plugins/i18n.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix

style: add @unocss/eslint-config
  .eslintrc.js
  components/Logos.vue
  layouts/home.vue
  pages/hi/[id].vue
Due: eslint --cache --fix, stylelint --fix

style: fix eslint and stylelint setup
  .stylelintignore
  package.json
  pnpm-lock.yaml
Due: none

style: update .stylelintignore
  .stylelintignore
Due: none

ci: remove Drone CI
  .drone.star
Due: none

chore: update deps, migrate to new eslint format
  .eslintrc
  .vscode/settings.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix

chore: fix eslint vscode setup
  .vscode/settings.json
Due: none

feat: delete prettier
  pages/hi/[id].vue
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix

fix: pnpm-lock
  pnpm-lock.yaml
Due: none

feat: change .commitlintrc.js to .commitlintrc.cjs
  .commitlintrc.cjs
Due: none

chore: update deps
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix

fix: show 404 page and update NODE_VERSION to 20
  netlify.toml
Due: none

feat: enable formatters in eslint-config
  .github/workflows/ci.yml
  README.md
  components/PageView.vue
  eslint.config.js
  layouts/README.md
  netlify.toml
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix

chore: improve linting
  app.vue
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, stylelint --fix

chore: update deps
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix

feat: add `nuxt-module-eslint-config`
  .vscode/settings.json
  eslint.config.ts
  netlify.toml
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix

fix(pwa): set address bar theme color
  nuxt.config.ts
Due: eslint --cache --fix

fix(pwa): set address bar theme color (#109)
  nuxt.config.ts
Due: eslint --cache --fix

feat: use `@nuxt/eslint`
  eslint.config.js
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix

doc(readme): fix degit command
  README.md
Due: none

chore: lint
  eslint.config.js
  nuxt.config.ts
Due: eslint --cache --fix

Path conditions:
  eslint --cache --fix: any of: **/*.{js,ts,tsx,vue}
  stylelint --fix: any of: **/*.{css,scss,vue,tsx}
